.navbar,.nav{
    background-color: azure;

}
.navbar{
    font-family: Viga,sans-serif;
    position: relative;
    
}
.menu{
    font-weight: bold;
    padding: 5px;
    background-color: skyblue;
    position: sticky;
    top: 0;
    
}

.around{
    margin-right: 100px;
}

.container{
    margin-top: 50px;
}

.jumbotron img{
    width: 30px;
    height: 500px;
}

.d-flex{
    flex-direction: row;
}
.card{
    margin-left: 15px;
    margin-top: -250px;
}

.card img{
    width: 200px;
    align-content: center;
    
}

footer{
    bottom: 0px;
    text-align: center;
    color: white;
    background-color: grey;
    height: 60px;
    margin-top: 150px;
    padding: 10px;
    
}

footer h5{
    margin-top: 10px;
    font-weight: bold;
    
   
}
@media (min-width: 1300px) {

    .table{
        margin-left: -100px;

    }

}